<div class="form-group">
    <label for="field" class="col-sm-2 control-label">Banenavn</label>
    <div class="col-sm-10">
        <select ng-model="match.field" class="form-control" id="field">
            <option></option>
            <option>1</option>
            <option>2</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="kickoff" class="col-sm-2 control-label">Avspark</label>
    <div class="col-sm-10">
        <input type="time" ng-model="match.kickoff" class="form-control" id="kickoff" placeholder="Avspark"/>
    </div>
</div>

<div class="form-group">
    <label for="match_code" class="col-sm-2 control-label">Kampkode</label>
    <div class="col-sm-10">
        <select ng-model="match.match_code" class="form-control" id="match_code">
            <option></option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
            <option>W-A</option>
            <option>W-B</option>
            <option>Q1</option>
            <option>Q2</option>
            <option>Q3</option>
            <option>Q4</option>
            <option>S1</option>
            <option>S2</option>
            <option>F</option>
        </select>
    </div>
</div>

<div class="form-group">
    <label for="hometeam_id" class="col-sm-2 control-label">Hjemmelag</label>
    <div class="col-sm-10">
        <!--
        <select ng-model="match.hometeam_id" class="form-control" id="hometeam_id">
            <option></option>
            <option ng-repeat="team in teams" value="{{ team.id }}">{{ team.name }}</option>
        </select>
        -->

        <ui-select ng-model="match.hometeam_id" id="hometeam_id">
            <ui-select-match placeholder="Velg et lag...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="team.id as team in teams | filter: $select.search">
                <div ng-bind-html="team.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="form-group">
    <label for="awayteam_id" class="col-sm-2 control-label">Bortelag</label>
    <div class="col-sm-10">
        <!--
        <select ng-model="match.awayteam_id" class="form-control" id="awayteam_id">
            <option></option>
            <option ng-repeat="team in teams" value="{{ team.id }}">{{ team.name }}</option>
        </select>
        -->

        <ui-select ng-model="match.awayteam_id" id="awayteam_id">
            <ui-select-match placeholder="Velg et lag...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="team.id as team in teams | filter: $select.search">
                <div ng-bind-html="team.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
    </div>
</div>

<div class="form-group">
    <label for="score_home" class="col-sm-2 control-label">Mål hjemmelag</label>
    <div class="col-sm-10">
        <input type="number" ng-model="match.score_home" class="form-control" id="score_home" placeholder="Antall mål hjemmelag"/>
    </div>
</div>

<div class="form-group">
    <label for="score_away" class="col-sm-2 control-label">Mål bortelag</label>
    <div class="col-sm-10">
        <input type="number" ng-model="match.score_away" class="form-control" id="score_away" placeholder="Antall mål bortelag"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Lagre"/>
    </div>
</div>
