<div ng-include="'partials/helpers/loading.html'"></div>

<div class="row" ng-hide="loading">
    <div class="col-md-12">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <td colspan="9"><h3>Alle kamper i turneringen</h3></td>
                </tr>
                <tr>
                    <th class="match-info">TID</th>
                    <th class="match-info">BANE</th>
                    <th class="match-info">GRP/KAMP</th>
                    <th>HJEMMELAG</th>
                    <th>BORTELAG</th>
                    <th colspan="3">RESULTAT</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="match in matches">
                    <td class="match-info">{{match.kickoff_at | limitTo:5}}</td>
                    <td class="match-info">{{match.field}}</td>
                    <td class="match-info">{{match.match_code}}</td>
                    <td>{{match.hometeam}}</td>
                    <td>{{match.awayteam}}</td>
                    <td>{{match.score_home}}</td>
                    <td>-</td>
                    <td>{{match.score_away}}</td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-primary" href="#turneringer/{{match.tournament_id}}/kamper/{{match.id}}">Åpne</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>