body {
	background: url("../img/bg_redjul.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.container-fluid {
	padding-top: 10px;

	background-image: url('../img/BiSmXaq.png'), url('../img/XHuy0NJ.png'), url('../img/okpRxJU.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
}

@media (min-width: 992px) {
	.container-fluid {
		padding-right: 70px;
		padding-left: 70px;
	}
}

.panel {
	background-color: rgba(0, 0, 0, 0);
  border: 0;
	border-radius: 0;
}

.panel-default > .panel-heading {
  text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
  border: 0;
  border-radius: 0;
}

.panel-default > table {
  border-radius: 0 !important;
}

.table thead tr {
	background-color: rgba(0, 0, 0, 0.8);
}

.table {
	background-color: rgba(0, 0, 0, 0);
}

.table tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.7);
}

.table tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.6);
}

.table tbody tr,
.table tbody tr td {
	border-radius: 0 !important;
}

.table td ,
.table th {
	line-height: 1 !important;
	font-size: 12px !important;
}

.table > thead > tr > th,
.table > tbody > tr > td {
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
}

.team {
	width: 40%;
}

.player {
	width: 90%;
}

@-webkit-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
@-moz-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
@-ms-keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
@keyframes snow {
    0% { background-position: 0px 0px, 0px 0px, 0px 0px }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
