

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	background: url("../img/bg_main_ny.jpg");
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #3681b6;
	background-repeat: no-repeat;
}

.container-fluid {
	padding-top: 10px;

    padding-right: 70px;
    padding-left: 70px;
}

.table td ,
.table th {
	line-height: 1 !important;
	font-size: 12px !important;
}

.table > thead > tr > th,
.table > tbody > tr > td {
	padding-top: 2px;
	padding-bottom: 2px;
	border: none;
}

.team {
	width: 40%;
}

.player {
	width: 90%;
}
