<div ng-include="'partials/helpers/loading.html'"></div>

<div class="row" ng-hide="loading">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td><h3>Alle turneringer</h3></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tournament in tournaments">
                    <td>{{tournament.name}}</td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-primary" href="#turneringer/{{tournament.id}}">Åpne</a>
                        <a class="btn btn-sm btn-primary" href="#turneringer/{{tournament.id}}/kamper">Kamper</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>