<div ng-include="'partials/helpers/loading.html'"></div>

<div class="row" ng-hide="loading">

    <div class="col-sm-12">
        <div class="input-group">
            <div class="input-group-addon"><span class="fa fa-search"></span></div>
            <input type="text" ng-model="searchText" class="form-control" id="search" placeholder="Søk"/>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td><h3>Alle spillere</h3></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players | filter:searchText">
                    <td>{{player.name}}</td>
                    <td class="text-right">
                        <a class="btn btn-sm btn-primary" href="#spillere/{{player.id}}">Åpne</a>
                        <a class="btn btn-sm btn-danger" ng-click="deletePlayer(player)">Slett</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>