<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Navn</label>
    <div class="col-sm-10">
        <input type="text" ng-model="player.name" class="form-control" id="name" placeholder="Navn"/>
    </div>
</div>

<div class="form-group">
    <label for="number" class="col-sm-2 control-label">Nummer</label>
    <div class="col-sm-10">
        <input type="text" ng-model="player.number" class="form-control" id="number" placeholder="Spillerens nummer"/>
    </div>
</div>

<div class="form-group">
    <label for="paid" class="col-sm-2 control-label">Betalt?</label>
    <div class="col-sm-10">
        <input type="checkbox" ng-model="player.paid" class="form-control" id="paid "/>
    </div>
</div>

<div class="form-group">
    <label for="team" class="col-sm-2 control-label">Lag</label>
    <div class="col-sm-10">
        <input type="text" ng-model="player.team_id" class="form-control" id="team" placeholder="Spillerens lag"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Lagre"/>
    </div>
</div>